<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon aria-hidden="true" ios='document-text-outline' md="document-text-sharp"></ion-icon>
        Images
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="dockerIOService.images.length>0; else elseBlock">
    <ion-item *ngFor="let image of dockerIOService.images">
      <ion-label *ngIf="image.RepoTags">{{image.RepoTags[0]}}</ion-label>
      <ion-label *ngIf="!image.RepoTags">{{image.Id}}</ion-label>
      <ion-button (click)="setOpenDetails(true); this.itemSelected = image" slot="end">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ng-template #elseBlock>
    <div id="container">
      <ion-text color="primary">
        <strong class="capitalize">
          <ion-icon aria-hidden="true" ios='document-text-outline' md="document-text-sharp"></ion-icon>
          Aucun images à afficher.</strong>
      </ion-text>
      <p>En cas de problèmes d’affichage, Vérifier que le socket Docker est bien paramétré et que des containers sont en
        fonctionnement.</p>
    </div>
  </ng-template>
  <ion-modal [isOpen]="isModalDetailsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title *ngIf="itemSelected.RepoTags">
            <ion-text color="primary">{{itemSelected.RepoTags[0]}}</ion-text>
          </ion-title>
          <ion-title *ngIf="!itemSelected.RepoTags">
            <ion-text color="primary">{{itemSelected.Id}}</ion-text>
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenDetails(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ul>
          <li>
            <ion-text color="primary">
              <strong>Id : </strong>
            </ion-text>
            {{itemSelected.Id}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>ParentId : </strong>
            </ion-text>
            {{itemSelected.ParentId}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>RepoTags : </strong>
            </ion-text>
            <ul *ngFor="let RepoTag of itemSelected.RepoTags">
              <li>{{RepoTag}}
              </li>
            </ul>
          </li>
          <li>
            <ion-text color="primary">
              <strong>RepoDigest : </strong>
            </ion-text>
            <ul *ngFor="let RepoDigest of itemSelected.RepoDigests">
              <li>{{RepoDigest}}
              </li>
            </ul>
          </li>
          <li>
            <ion-text color="primary">
              <strong>Created : </strong>
            </ion-text>
            {{itemSelected.Created}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Size : </strong>
            </ion-text>
            {{itemSelected.Size}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>VirtualSize : </strong>
            </ion-text>
            {{itemSelected.VirtualSize}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>SharedSize : </strong>
            </ion-text>
            {{itemSelected.SharedSize}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Containers : </strong>
            </ion-text>
            {{itemSelected.Containers}}
          </li>
        </ul>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
