<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Networks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon aria-hidden="true" ios='share-social-outline' md="share-social-sharp"></ion-icon>
        Networks
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="dockerIOService.networks.length>0; else elseBlock">
    <ion-item *ngFor="let network of dockerIOService.networks">
      <ion-label>{{network.Name}}</ion-label>
      <ion-note slot="end">{{network.Scope}} {{network.Driver}}</ion-note>
      <ion-button (click)="this.optionActionSheet(network); this.itemSelected = network"
                  color="medium" fill="clear" shape="round" slot="end">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ng-template #elseBlock>
    <div id="container">
      <ion-text color="primary">
        <strong class="capitalize">
          <ion-icon aria-hidden="true" ios='share-social-outline' md="share-social-sharp"></ion-icon>
          Aucun networks à afficher.</strong>
      </ion-text>
      <p>En cas de problèmes d’affichage, Vérifier que le socket Docker est bien paramétré et que des containers sont en
        fonctionnement.</p>
    </div>
  </ng-template>
  <ion-modal [isOpen]="isModalDetailsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <ion-text color="primary">{{itemSelected.Name}}</ion-text>
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenDetails(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ul>
          <li>
            <ion-text color="primary">
              <strong>Id : </strong>
            </ion-text>
            {{itemSelected.Id}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Name : </strong>
            </ion-text>
            {{itemSelected.Name}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Created : </strong>
            </ion-text>
            {{itemSelected.Created}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Scope : </strong>
            </ion-text>
            {{itemSelected.Scope}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Driver : </strong>
            </ion-text>
            {{itemSelected.Driver}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>EnableIPv6 : </strong>
            </ion-text>
            {{itemSelected.EnableIPv6}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>IPAM : </strong>
            </ion-text>
            {{itemSelected.IPAM}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Internal : </strong>
            </ion-text>
            {{itemSelected.Internal}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Attachable : </strong>
            </ion-text>
            {{itemSelected.Attachable}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Ingress : </strong>
            </ion-text>
            {{itemSelected.Ingress}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Containers : </strong>
            </ion-text>
            {{itemSelected.Containers}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Options : </strong>
            </ion-text>
            {{itemSelected.Options}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Labels : </strong>
            </ion-text>
            {{itemSelected.Labels}}
          </li>
        </ul>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
