<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Containers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Containers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="dockerIOService.containers.length>0">
    <ion-item *ngFor="let container of dockerIOService.containers">
      <ion-label *ngFor="let name of container.Names">{{tools.cleanName(name)}}</ion-label>
      <ion-note slot="end">{{container.State}} {{container.Status}}</ion-note>
      <ion-button (click)="setOpenContainerDetails(true); this.itemSelected = container" slot="end">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalDetailsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title *ngFor="let name of itemSelected.Names">{{tools.cleanName(name)}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenContainerDetails(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ul>
          <li>Id: {{itemSelected.Id}}</li>
          <li *ngFor="let name of itemSelected.Names">Name: {{name}}</li>
          <li>Image: {{itemSelected.Image}}</li>
          <li>ImageID: {{itemSelected.ImageID}}</li>
          <li>Command: {{itemSelected.Command}}</li>
          <li>Created: {{itemSelected.Created}}</li>
          <li>Ports:
            <ul *ngFor="let port of itemSelected.Ports; index as i">
              <li>IP: {{port.IP}}</li>
              <li>PrivatePort: {{port.PrivatePort}}</li>
              <li>PublicPort: {{port.PublicPort}}</li>
              <li>Type: {{port.Type}}</li>
              <br *ngIf="i<itemSelected.Ports.length">
            </ul>
          </li>
          <li>State: {{itemSelected.State}}</li>
          <li>Status: {{itemSelected.Status}}</li>
          <li>HostConfig:
            <ul>
              <li>NetworkMode: {{itemSelected.HostConfig.NetworkMode}}</li>
            </ul>
          </li>
          <li>NetworkSettings:
            <ul>
              <li>Networks: {{itemSelected.NetworkSettings.Networks}}</li>
            </ul>
          </li>
          <li>Mount:
            <ul *ngFor="let mount of itemSelected.Mounts; index as i">
              <li>Name: {{mount.Name}}</li>
              <li>Type: {{mount.Type}}</li>
              <li>Source: {{mount.Source}}</li>
              <li>Destination: {{mount.Destination}}</li>
              <li>Driver: {{mount.Driver}}</li>
              <li>Mode: {{mount.Mode}}</li>
              <li>RW: {{mount.RW}}</li>
              <li>Propagation: {{mount.Propagation}}</li>
              <br *ngIf="i<itemSelected.Mounts.length">
            </ul>
          </li>
        </ul>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
