<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Containers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon aria-hidden="true" ios='cube-outline' md="cube-sharp"></ion-icon>
        Containers
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="dockerIOService.containers.length>0; else elseBlock">
    <ion-item *ngFor="let container of dockerIOService.containers">
      <ion-label *ngFor="let name of container.Names">{{tools.cleanName(name)}}</ion-label>

      <ion-note slot="end">{{container.State}} {{container.Status}}</ion-note>
      <ion-button (click)="setOpenDetails(true); this.itemSelected = container" slot="end">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="this.dockerIOService.optionContainerActionSheet(container); this.itemSelected = container"
                  color="secondary"
                  slot="end">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ng-template #elseBlock>
    <div id="container">
      <ion-text color="primary">
        <strong class="capitalize">
          <ion-icon aria-hidden="true" ios='cube-outline' md="cube-sharp"></ion-icon>
          Aucun containeurs à afficher.</strong>
      </ion-text>
      <p>En cas de problèmes d’affichage, Vérifier que le socket Docker est bien paramétré et que des containers sont en
        fonctionnement.</p>
    </div>
  </ng-template>
  <ion-modal [isOpen]="isModalDetailsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title *ngFor="let name of itemSelected.Names">
            <ion-text color="primary">{{tools.cleanName(name)}}</ion-text>
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenDetails(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ul>
          <li>
            <ion-text color="primary">
              <strong>Id : </strong>
            </ion-text>
            {{itemSelected.Id}}
          </li>

          <li *ngFor="let name of itemSelected.Names">
            <ion-text color="primary">
              <strong>Name : </strong>
            </ion-text>
            {{name}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Image : </strong>
            </ion-text>
            {{itemSelected.Image}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>ImageID : </strong>
            </ion-text>
            {{itemSelected.ImageID}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Command : </strong>
            </ion-text>
            {{itemSelected.Command}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Created : </strong>
            </ion-text>
            {{itemSelected.Created}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Ports :</strong>
            </ion-text>

            <ul *ngFor="let port of itemSelected.Ports; index as i">
              <li>
                <ion-text color="primary">
                  <strong>IP : </strong>
                </ion-text>
                {{port.IP}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>PrivatePort : </strong>
                </ion-text>
                {{port.PrivatePort}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>PublicPort : </strong>
                </ion-text>
                {{port.PublicPort}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>Type : </strong>
                </ion-text>
                {{port.Type}}
              </li>
              <br *ngIf="i<itemSelected.Ports.length">
            </ul>
          </li>
          <li>
            <ion-text color="primary">
              <strong>State : </strong>
            </ion-text>
            {{itemSelected.State}}
          </li>
          <li>
            <ion-text color="primary">
              <strong>Status : </strong>
            </ion-text>
            {{itemSelected.Status}}</li>
          <li>
            <ion-text color="primary">
              <strong>HostConfig :</strong>
            </ion-text>

            <ul>
              <li>
                <ion-text color="primary">
                  <strong>NetworkMode : </strong>
                </ion-text>
                {{itemSelected.HostConfig.NetworkMode}}</li>
            </ul>
          </li>
          <li>
            <ion-text color="primary">
              <strong>NetworkSettings :</strong>
            </ion-text>

            <ul>
              <li>
                <ion-text color="primary">
                  <strong>Networks : </strong>
                </ion-text>
                {{itemSelected.NetworkSettings.Networks}}</li>
            </ul>
          </li>
          <li>
            <ion-text color="primary">
              <strong>Mount :</strong>
            </ion-text>

            <ul *ngFor="let mount of itemSelected.Mounts; index as i">
              <li>
                <ion-text color="primary">
                  <strong>Name : </strong>
                </ion-text>
                {{mount.Name}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>Type : </strong>
                </ion-text>
                {{mount.Type}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>Source : </strong>
                </ion-text>
                {{mount.Source}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>Destination : </strong>
                </ion-text>
                {{mount.Destination}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>Driver : </strong>
                </ion-text>
                {{mount.Driver}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>Mode : </strong>
                </ion-text>
                {{mount.Mode}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>RW : </strong>
                </ion-text>
                {{mount.RW}}
              </li>
              <li>
                <ion-text color="primary">
                  <strong>Propagation : </strong>
                </ion-text>
                {{mount.Propagation}}
              </li>
              <br *ngIf="i<itemSelected.Mounts.length">
            </ul>
          </li>
        </ul>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
